
.icon-home:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-arrows-cw:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-left-open-outline:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-left-open-2:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-plus-outline:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80c'; } /* '' */
.icon-cancel-circled2:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-trash-2:before { content: '\e80f'; } /* '' */
.icon-trash-3:before { content: '\e810'; } /* '' */
.icon-trash-4:before { content: '\e811'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-trash-1:before { content: '\f083'; } /* '' */
